<div class="row">
	<button class="btn btn-primary" (click)="start()">Start scraping!</button>
	<button (click)="imprimir()">Mostrar</button>

	<input [(ngModel)]="SEARCH_WORD">
	<input [(ngModel)]="START_URL">
	<input [(ngModel)]="MAX_PAGES_TO_VISIT">
</div>

<div class="row link-content">
	<li *ngFor="let link of imagesRecollected" class="data-li">
		<div class="row">
			<img src="{{link}}">
		</div>
	</li>

</div>

<div class="row link-content">
	<p>
		<a href="https://avatars1.githubusercontent.com/u/16049165?v=3&s=400" download>
			<img src="https://avatars1.githubusercontent.com/u/16049165?v=3&s=400">
		</a>
	</p>
</div>
