<div class="row">
	{{diagnostic}}
	<div>
		<h1>Buscar</h1>
	</div>
</div>

<div class="row">
	<div class="col-xs-6">
	   <input type="text" class="form-control" [(ngModel)]="texto" required>
	</div>
	<div class="col-xs-6">
	   <button class="btn btn-primary" (click)="search()">Buscar</button>
	</div>
</div>

<div class="row link-content">
	<div class="row labels">
		<div class="col-xs-4">
          <strong>Titulo</strong>
        </div>
        <div class="col-xs-4">
          <strong>Link</strong>
        </div>
	</div>

	<li *ngFor="let item of obj.items" class="data-li">
		<div class="row">
			<div class="col-xs-4">
				{{item.title}}
			</div>
			<div class="col-xs-4">
				<a class="a-hover" (click)="openLink(item.link)" >{{item.link}}</a>
			</div>
		</div>
	</li>
</div>
