<div *ngIf="!link">
	<i class="fa fa-spinner centered spin" style="font-size:64px"></i>
</div>

<div *ngIf="link">

	<h1>
		<span>Resultados de la Búqueda</span>
		<button type="button" class="btn btn-primary pull-right" (click)="goBack()">
			Volver
		</button>
	</h1>

	<div *ngIf="textCollected.length<1 || imagesRecollected.length<1">
		<i class="fa fa-spinner centered spin" style="font-size:64px"></i>
	</div>

	<div class="row">
		<h2 *ngIf="textCollected.length>0">Textos encontrados:</h2>
		<li *ngFor="let texto of textCollected" class="data-li">
			{{texto}}
		</li>
	</div>

	<div class="row">
		<h2 *ngIf="imagesRecollected.length>0">Imágenes encontradas:</h2>
		<h6 *ngIf="imagesRecollected.length>0">(Haga click en la imagen para descargar)</h6>
		<li *ngFor="let img of imagesRecollected" class="data-li">
			<a *ngIf="!(error)" [href]="img" class="a-hover" download>
				<img [src]="img" style="max-width:100%;max-height:100%;">
			</a>
		</li>
	</div>
</div>
