<div class="row">
	<div class="col-xs-6">
	   <input type="text" class="form-control" [(ngModel)]="texto" required>
	</div>
	<div class="col-xs-6">
	   <button class="btn btn-primary" (click)="search()">Buscar</button>
	   <button class="btn btn-warning" (click)="clear()">Limpiar</button>
	</div>
</div>
<div class="row col-xs-12">
	<li *ngFor="let link of urls"
	  	class="item-click list-group-item"
	    (click)="gotoDetail(link)">
	    {{ link.url }}
		<span class="badge">{{ link.id }}</span>
  	</li>
</div>
